/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 * 
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
.syntaxhighlighter {
  background-color: #0a2b1d !important;
}
.syntaxhighlighter .line.alt1 {
  background-color: #0a2b1d !important;
}
.syntaxhighlighter .line.alt2 {
  background-color: #0a2b1d !important;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #233729 !important;
}
.syntaxhighlighter .line.highlighted.number {
  color: white !important;
}
.syntaxhighlighter table caption {
  color: #f8f8f8 !important;
}
.syntaxhighlighter .gutter {
  color: #497958 !important;
}
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #41a83e !important;
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #41a83e !important;
  color: #0a2b1d !important;
}
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
  color: #96dd3b !important;
  background: black !important;
  border: 1px solid #41a83e !important;
}
.syntaxhighlighter.collapsed .toolbar a {
  color: #96dd3b !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: white !important;
}
.syntaxhighlighter .toolbar {
  color: white !important;
  background: #41a83e !important;
  border: none !important;
}
.syntaxhighlighter .toolbar a {
  color: white !important;
}
.syntaxhighlighter .toolbar a:hover {
  color: #ffe862 !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #f8f8f8 !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #336442 !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #9df39f !important;
}
.syntaxhighlighter .keyword {
  color: #96dd3b !important;
}
.syntaxhighlighter .preprocessor {
  color: #91bb9e !important;
}
.syntaxhighlighter .variable {
  color: #ffaa3e !important;
}
.syntaxhighlighter .value {
  color: #f7e741 !important;
}
.syntaxhighlighter .functions {
  color: #ffaa3e !important;
}
.syntaxhighlighter .constants {
  color: #e0e8ff !important;
}
.syntaxhighlighter .script {
  font-weight: bold !important;
  color: #96dd3b !important;
  background-color: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: #eb939a !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #91bb9e !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: #edef7d !important;
}

.syntaxhighlighter .comments {
  font-style: italic !important;
}
.syntaxhighlighter .keyword {
  font-weight: bold !important;
}


/* with PDL enabled in Confluence */
.pdl .codeContent .gutter {
    background: #0a2b1d !important;
}
